@{
    ViewData["Title"] = "About page";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Salles Web MVC App from Course</h2>
    <p>Professor @ViewData["Professor"]</p>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>

</div>
